*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(125, 163, 124);
    width: 100vw;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#raca{
    width: 200px;
    height: 30px;
    text-align: center;
}

#buscar{
    padding: 5.5px 15px;
}


.container-galeria{
    margin-top: 15px;
    display: column;
    column-count: 5;
}

.foto{
    width: 100%;
}